@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.apexcharts-menu .apexcharts-menu-open {
  background-color: red;
}

/* li a {
  border: 1px solid red;
} */

/* unit */
.w-1-3 {
  width: calc(100% / 3 * 1 - 22px / 2);
}
.w-2-3 {
  width: calc(100% / 3 * 2 - 22px / 2);
}

*::selection {
  background-color: var(--light-primary);
}

a {
  text-decoration: none;
  color: black;
  outline: none;
}

select,
option {
  outline: none;
}

ul li {
  list-style: none;
}

:root {
  --bg: #f5f4fe;
  --bg-disable: #eee;

  --primary: #ff6e40;
  --dark-primary: #eb5c30;
  --light-primary: rgba(255, 110, 64, 0.15);
  --normal-primary: rgba(255, 110, 64, 0.45);

  --success: #05b171;
  --warning: #faae42;
  --error: #ea4444;
  --dark-success: #049660;
  --dark-warning: #d58b23;
  --dark-error: #c73a3a;

  --border: #ced4da;
  --light-border: #dee2e6;

  --purple: #9932e7;
  --blue: #25c2e3;
  --dark: #293134;
  --light: #ededed;
  --white: #fff;
  --light-gray: #6c757d;

  --padding: 22px;
  --icon-sidebar: 22px;
  --sidebar-width: 320px;
  --notification-width: 420px;
  --header-height: 100px;
  --cart-height: 300px;
}

.vetra {
  width: calc(100% + var(--notification-width));
}

.vetra.move {
  transform: translateX(calc(-1 * var(--notification-width)));
}

.sidebar.show {
  background-color: var(--white);
  transform: translateX(0);
}

.sidebar.show .close-sidebar {
  display: block;
}

.sidebar-item:not(:first-child) {
  margin-top: 4px;
}

.sidebar-item.active > a {
  background-color: var(--light-primary);
}

.sidebar-item.active > * {
  @apply text-primary;
}

.sidebar-item a:hover .bi:first-child {
  transform: scale(1.15);
}

.sidebar-item.active a:hover .bi:first-child {
  transform: scale(1);
}

.sidebar-item a:hover .bi-arrow-right {
  @apply text-primary;
}

.sidebar-item.active a .bi-arrow-right {
  @apply text-primary rotate-90;
}

.dropdown-item.active {
  @apply bg-light-primary;
}

.dropdown-item.active > a {
  @apply text-primary;
}

.shadow-c-primary {
  box-shadow: 1px -1px 20px -2px var(--light-gray);
}

.notification-active {
  @apply bg-light-primary rounded-t-[10px] text-primary;
}

.notification-active:hover {
  @apply text-primary !important;
}

.notification-badge::after {
  @apply content-[''] absolute w-[10px] h-[10px] rounded-full bg-warning left-[10%] sm:left-[14px] top-4;
}

.warning {
  @apply bg-warning text-warning;
}

.info {
  @apply bg-info text-info;
}

.special {
  @apply bg-special text-special;
}

.success {
  @apply bg-success text-success;
}

.error {
  @apply bg-error text-error;
}

.effect-ease {
  transition: all 0.25s ease;
}

.effect-linear {
  transition: all 0.25s linear;
}

.custom-checked:checked {
  @apply bg-dark-primary;
}

.custom-checked:checked {
  background-image: url(../public/assets/check.png);
}

.dropdown-selector {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
  background-color: transparent;
  background-repeat: no-repeat;
  /* width: 15px;
  height: 15px; */
  background-size: 10px;
  background-position: 90%;
}

/* 
Scroll

*/

.scrollable {
  @apply overflow-y-scroll;
}

.scrollable::-webkit-scrollbar {
  @apply w-0;
}

.scrollable.scroll-visible::-webkit-scrollbar {
  @apply w-[6px];
}

.scrollable:hover::-webkit-scrollbar {
  @apply w-[6px];
}

.scrollable::-webkit-scrollbar-thumb {
  @apply rounded-[10px] bg-transparent;
}

.scrollable:hover::-webkit-scrollbar-thumb {
  @apply bg-normal-primary;
}

/* Animation */

.fade-down {
  animation: fadeDown 0.15s linear;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-12px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeToRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.float-from-right {
  animation: floatFromRight 0.15s linear;
}

@keyframes floatFromRight {
  0% {
    transform: translateX(50px);
    opacity: 0.4;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.float-from-top {
  animation: floatFromTop 0.15s linear forwards;
}

@keyframes floatFromTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.float-to-top {
  animation: floatToTop 0.15s linear forwards;
}

@keyframes floatToTop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20%);
  }
}