@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* li a {
  border: 1px solid red;
} */

*::selection {
  background-color: var(--light-primary);
}

a {
  text-decoration: none;
  color: black;
  outline: none;
}

select,
option {
  outline: none;
}

ul li {
  list-style: none;
}

:root {
  --bg: #f5f4fe;
  --bg-disable: #eee;

  --primary: #ff6e40;
  --dark-primary: #eb5c30;
  --light-primary: rgba(255, 110, 64, 0.15);
  --normal-primary: rgba(255, 110, 64, 0.45);

  --success: #05b171;
  --warning: #faae42;
  --error: #ea4444;
  --dark-success: #049660;
  --dark-warning: #d58b23;
  --dark-error: #c73a3a;

  --border: #ced4da;
  --light-border: #dee2e6;

  --purple: #9932e7;
  --blue: #25c2e3;
  --dark: #293134;
  --light: #ededed;
  --white: #fff;
  --light-gray: #6c757d;

  --padding: 22px;
  --icon-sidebar: 22px;
  --sidebar-width: 320px;
  --notification-width: 420px;
  --header-height: 100px;
  --cart-height: 300px;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: var(--bg);
}

.vetra {
  width: calc(100% + var(--notification-width));
}

.vetra.move {
  transform: translateX(calc(-1 * var(--notification-width)));
}

.sidebar.show {
  background-color: var(--white);
  transform: translateX(0);
}

.sidebar.show .close-sidebar {
  display: block;
}

.sidebar-item:not(:first-child) {
  margin-top: 4px;
}

.sidebar-item.active > a {
  background-color: var(--light-primary);
}

.sidebar-item.active > * {
  @apply text-primary;
}

.sidebar-item a:hover .bi:first-child {
  transform: scale(1.15);
}

.sidebar-item.active a:hover .bi:first-child {
  transform: scale(1);
}

.sidebar-item a:hover .bi-arrow-right {
  @apply text-primary;
}

.sidebar-item.active a .bi-arrow-right {
  @apply text-primary rotate-90;
}

.dropdown-item.active {
  @apply bg-light-primary;
}

.dropdown-item.active > a {
  @apply text-primary;
}

.shadow-c-primary {
  box-shadow: 1px -1px 20px -2px var(--light-gray);
}

.account.show .account-action {
  display: block;
  animation: fadeDown 0.3s ease;
}

/* 
Scroll

*/

.scrollable {
  overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
  width: 0px;
}

.scrollable.scroll-visible::-webkit-scrollbar {
  width: 6px;
}

.scrollable:hover::-webkit-scrollbar {
  width: 6px;
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent;
}

.scrollable:hover::-webkit-scrollbar-thumb {
  background-color: var(--normal-primary);
}

/* Animation */

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-12px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeToRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes floatFromRight {
  0% {
    transform: translateX(50px);
    opacity: 0.4;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}
